.conteiner {
    width: 200px;
    height: 200px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}