.container{
    background-color: rgb(0, 148, 247);
    width: 20vw;
    height: 20vw;
    margin: 100px auto;
    padding: 10px 10px 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 900;
    border: 5px solid black;
    border-bottom: 20px solid red;
    border-radius: 10px;
}

.container:hover{
    background-color: purple;
    width: 30vw;
    height: 30vh;
}