.titulo{
    text-align: center;
    align-self: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Botão{
    background-color: blue;
    color: white;
    width: 15vh;
    height: 5vh;
}

#primeiro{
align-self:flex-end;
margin-left: 3%;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#segundo{
justify-content: flex-end;
margin-right: 3%;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#terceiro{
justify-content: flex-end;
margin-right: 3%;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.imagem{
margin-left: 35vw;
max-width: 100%;
}

.tituloSecundario{
justify-self: center;
}

.Download{
    justify-self: center;
}

