.titulo{
    text-align: center;
    align-self: auto;
    margin-right: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#primeiro{
align-self:flex-end;
margin-left: 3%;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#segundo{
justify-content: flex-end;
margin-right: 3%;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#terceiro{
justify-content: flex-end;
margin-right: 3%;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.imagem{
    margin-top: 20%;
    margin-right: 10%;
    max-width: 100%;
}